{% block content %}
<title>Edicion de Registros</title>
<style>
  /* Estilos personalizados */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    text-align: right;
    margin-bottom: 20px;
  }

  .header a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
  }

  .main-heading {
    color: #007bff;
    margin-bottom: 20px;
    text-align: left;
  }

  form {
    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  ul {
    margin-left: 20px;
    list-style-type: disc;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
</style>
<div class="container">
  <h1 class= "main-heading">Edita tu registro!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'registros:home' %}" class="btn btn-primary">Ir a la Página Principal</a>
    <button type="submit">Guardar cambios</button>
  </form>
</div>
{% endblock %}