{% extends 'registros/main.html' %}
{% block content %}

<div class="header-bar">
  {% if user.is_authenticated %}
    <a>Bienvenid@ a EntryLogs, {{ user.username }}</a>
    <a href="{% url 'registros:editar_usuario' %}">(Editar Perfil)</a>
    <a href="{% url 'registros:logout' %}">(Cerrar Sesión)</a>
  {% else %}
    <a href="{% url 'registros:login' %}">Iniciar sesión</a>
  {% endif %}
</div>

<div id="search-add-wrapper">
  <form method="GET" style="margin-top: 25px; margin-left: 15px; display: flex;" action="{% url 'registros:resultados_busqueda' %}">
      <input type="text" name="search_query" placeholder="Buscar canasta...">
      <input class="button" type="submit" value="Buscar">
  </form>
</div>

<div class="card-body">

        <h3>Últimos 10 registros de Mora:</h3>
        <ul>
          {% for registro in registros_mora %}
            <li>
              <a href="{% url 'registros:registro_detallado_mora' registro.pk %}">{{ registro.Canasta }}</a>
            </li>
          {% endfor %}
        </ul>
        <a id="add-link-mora" href="{% url 'registros:registro_mora' %}">&#x2b;</a>
        <h3>Últimos 10 registros de Fresa:</h3>
        <ul>
          {% for registrofresa in registros_fresa %}
            <li>
              <a href="{% url 'registros:registro_detallado_fresa' registrofresa.pk %}">{{ registrofresa.Canasta }}</a>
            </li>
          {% endfor %}
        </ul>
        <a id="add-link-fresa" href="{% url 'registros:registro_fresa' %}">&#x2b;</a>
        
</div>

{% endblock content %}


