{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>EntryLogs Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      {% if user.is_authenticated %}
        <p>Bienvenid@, {{ user.username }}  <a href="{% url 'registros:editar_usuario' %}">(Editar Perfil)</a> <a href="{% url 'registros:logout' %}">(Cerrar Sesión)</a></p>
      {% else %}
        <p><a href="{% url 'registros:login' %}">Iniciar sesión</a></p>
      {% endif %}
    </div>
    {% block content %}
      <div class="col-md-9">
        <h1 class="main-heading">EntryLogs, Tu agenda virtual</h1>

        <h2>Últimos 10 registros de Mora:</h2>
        <ul>
          {% for registro in registros_mora %}
            <li>
              <a href="{% url 'registros:registro_detallado_mora' registro.pk %}">{{ registro.Canasta }}</a>
            </li>
          {% endfor %}
        </ul>
        <a href="{% url 'registros:registro_mora' %}" class="btn btn-primary">Agregar Canasta de Mora</a>
        <h2>Últimos 10 registros de Fresa:</h2>
        <ul>
          {% for registrofresa in registros_fresa %}
            <li>
              <a href="{% url 'registros:registro_detallado_fresa' registrofresa.pk %}">{{ registrofresa.Canasta }}</a>
            </li>
          {% endfor %}
        </ul>
        <a href="{% url 'registros:registro_fresa' %}" class="btn btn-primary">Agregar Canasta de Fresa</a>
    {% endblock %}
  </div>
</body>
</html>
