{% extends 'registros/main.html' %}
{% block content %}

<div class="header-bar">
  <h1 class="main-heading">EntryLogs</h1>
    <h2>Ingresa tus Credenciales<h2>
</div>

<div class="card-body">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit" id="submit" style="margin-top: 20px; display: flex;">Iniciar Sesión</button>
  </form>
  <a class="button" href="{% url 'registros:registro_usuario' %}"  style="margin-top: 20px; display: flex;">¿No tienes usuario? ¡Crea uno!</a>
</div>

{% endblock content %}
