{% extends 'registros/main.html' %}
{% block content %}

<div class="header-bar">
  <h1>Registro completado!</h1>
</div>

<div class="card-body">
      <a href="{% url 'registros:home' %}" class="button" style="margin-top: 25px; margin-left: 20px; margin-right: 20px; display: flex;">Ir a la Página Principal</a>
      <a href="{% url 'registros:registro_detallado_mora' pk=registro.pk %}" class="button" style="margin-top: 25px; margin-left: 20px; margin-right: 20px; display: flex;">Detalles del Registro</a>
      <a href="{% url 'registros:registro_mora' %}" class="button" style="margin-top: 25px; margin-left: 20px; margin-right: 20px; display: flex;">Nuevo Registro</a>
</div>

{% endblock content %}