{% extends 'registros/main.html' %}
{% block content %}

<div class="header-bar">
  <h3>Agregar Registro de Fresa Nuevo</h3>
</div>

<div class="card-body">
  <form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form.as_p }}
      {% endfor %}
    {% else %}
      {{ wizard.form.as_p }}
    {% endif %}
    <button type="submit" class="button">Siguiente</button>
  </form>
</div>

{% endblock content %}