{% block content %}
  <h1>Registro completado!</h1>
  <p>El registro ha sido creado exitosamente.</p>

  <div class="row mt-5">
    <div class="col">
      <a href="{% url 'registros:home' %}" class="btn btn-primary">Ir a la Pagina Principal</a>
    </div>
    <div class="col text-center">
      <a href="{% url 'registros:registro_detallado_fresa' pk=registrofresa.pk %}" class="btn btn-success">Detalles del Registro!</a>
    </div>
    <div class="col text-end">
      <a href="{% url 'registros:registro_fresa' %}" class="btn btn-primary">Haz un nuevo Registro!</a>
    </div>
  </div>
{% endblock %}