{% extends 'registros/main.html' %}
{% block content %}

<div class="header-bar">
  <h3>Resultados de la búsqueda:</h3>
</div>

<div class="card-body">
  {% if registros %}
    <ul>
      {% for registro in registros %}
        {% if registro.get_tipo == 'mora' %}
          <li><a href="{% url 'registros:registro_detallado_mora' registro.pk %}">{{ registro.Canasta }}</a></li>
        {% elif registro.get_tipo == 'fresa' %}
          <li><a href="{% url 'registros:registro_detallado_fresa' registro.pk %}">{{ registro.Canasta }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron resultados.</p>
  {% endif %}
  <a href="{% url 'registros:home' %}" class="button" style="margin-top: 25px; margin-left: 15px; display: flex;">Volver a la Página Principal</a>

  {% endblock content %}